.shop-container{
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.products-container{
    
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 100px;
    position: relative;
    
}
.cart-container{
    background-color: #ffe7c3;
    
}
